<h1>New Topic</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.topic_path(@conn, :create, topic_params: assigns[:topic_params])) %>

<span><%= link "Back", to: Routes.topic_path(@conn, :index) %></span>
